body {
  border: 0;
  margin: 0;
  padding: 0;
}

.leaflet-tooltip {
  color: blue;
  box-shadow: none;
  background-color: rgba(0, 0, 255, 0);
  border: none;
  font-weight: bold;
}

#alaosa {
  /* height: 180px; */
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 44vh;
}

li {
  list-style: none;
}

#keski,
#joukkueet,
#rastit {
  border: solid;
  margin: 1em;
  height: 100%;
}

#joukkuelista,
#rastilista,
#keskilista {
  list-style: none;
  padding: 0;
  margin: 0;
}

#rastilista {
  column-count: 4;
}

#keskilista {
  position: relative;
  width: 100%;
  height: 100%;
}

#keskilista li {
  white-space: nowrap;
}

h2 {
  text-align: center;
}
