* {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0.5em;
}

#container {
  display: flexbox;
  flex-direction: column;
  margin: 1em;
}

fieldset {
  display: grid;
  /* grid-template-rows: repeat(auto-fill, auto); */
  grid-template-columns: 60% 40%;
  max-width: 40em;
  margin-top: 2%;
  padding: 3%;
}

.form label {
  display: block;
}

.form label,
.form input[type="text"],
.form p {
  /* margin-top: 1%; */
  margin-bottom: 2em;
}
.form input[type="radio"],
.radio > label {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
}

.radio {
  display: flex;
  flex-direction: column;
}

button {
  width: 5em;
  height: auto;
  margin: 0em 2%;
}

#joukkueet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

#joukkuelista {
  margin-top: 2em;
}

#joukkuelista > li > ul > li {
  margin-left: 3em;
}
